a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 30px;
    bottom: 30px;
    background: #4B3333 url(../images/logos/up-arrow.png);
    background-size: 43%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    -webkit-transition: -background-color .25s ease;
}

a:hover.back-to-top {
    background-color: rgb(156,0,0);
    -webkit-transition: background-color .5s ease;
}
