@font-face {
	font-family: Rog;
	src: url(../fonts/Rog.ttf);
}

@font-face {
	font-family: Content;
	src: url(../fonts/RopaSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
	background-image: url(../images/backgrounds/background_wp.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
	font-family: Rog;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 25pt;
}

.blur img{
    -webkit-transition: all .25s ease-out;
}

.pic {
	height: 480px;
	width: 853px;
	overflow: hidden;
	margin: 20px;
	border: 10px solid gray;
	box-shadow: 5px 5px 5px rgba(0,0,0,.7);
	float: left;
}

.pic img {
	height: 480px;
	width: 853px;
}
	.pic:hover .blur img {
		-webkit-filter: blur(3px);
	}